@import components/mixins
html
    font-size: 1px
    scroll-behavior: smooth
body
    margin: 0
    box-sizing: border-box

a
    text-decoration: none

ul
    padding: 0
    list-style: none

h2, h3, p, ul, hr
    margin: 0

input, select
    width: 100%
    box-sizing: border-box
    outline: none
img
    width: 100%
    height: 100%
    object-fit: cover

section
    padding: 50rem 0

.wrapper
    max-width: 80%
    margin: 0 auto

.flex
    display: flex
    column-gap: 30rem

.flex-between
    display: flex
    justify-content: center
    flex-wrap: wrap
    column-gap: 50rem
    +media(768)
        justify-content: space-between
    +media(1024)
        flex-wrap: nowrap

.items-center
    align-items: center

.gradient
    transition: all .5s ease
    background: linear-gradient(90deg, #4E98B6 0%, #00D589 50%, #4E98B6 100%)
    background-size: 200% 100%
    &:hover
        background-position: 100% 0

.header-menu
    width: 100%
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 10px
    +media(768)
        position: static
        width: auto
        transform: translate(0)
.menu
    display: flex
    column-gap: 20rem
    +media(1024)
        column-gap: 50rem
    a
        transition: all .25s ease
        display: inline-block
        color: #000
        font-size: 10rem
        text-align: center
        font-family: "Kharkiv Tone"
        font-weight: 400
        text-transform: uppercase
        +media(768)
            font-size: 14rem
        +media(1024)
            font-size: 18rem
        &:hover
            transform: scale(1.05)
            color: #4E98B6

.header
    position: relative
    padding: 25rem 0 35px
    justify-content: space-between

.dark-bg
    background: #000

.head
    padding-bottom: 20rem
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    +media(768)
        font-size: 25px
        padding-bottom: 40rem
    +media(1440)
        font-size: 54px
    +media(1920)
        font-size: 64px

.white-head
    color: #FFF

.dark-head
    color: #000
    text-align: center

.black-kharkiv
    padding-bottom: 40rem
    color: #1E1E1E
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 15rem
    font-weight: 400
    line-height: 1.5em
    text-transform: uppercase
    +media(768)
        font-size: 24px

.card-section
    overflow: hidden
    +media(768)
    padding-top: 0

.slider-card
    display: none

.active
    display: block

.card_block
    width: 100vw
    overflow: hidden

.main-card_block
    position: relative
    column-gap: 0

.name-block
    padding-top: 50rem
    h2
        padding: 18rem 0
        +media(768)
            padding: 38rem 0
    hr
        margin-bottom: 34rem
        border: none
        border: 2px solid #fff

.button
    padding: 30rem 0
    flex-wrap: nowrap

.button-card,
.button
    column-gap: 30rem

.number-card
    font-family: Montserrat
    font-size: 24rem

.number
    color: #4E98B6
    font-weight: 500

.number-of
    color: #FFF
    font-weight: 300
.prev, .next
    transition: all .25s ease
    svg > path 
        fill: #fff
    &:hover
        border: 1px solid #4E98B6
        background-color: #4E98B6
    &:hover
        svg > path
            fill: #fff

.prev, .next, .left, .right
    display: block
    min-width: 130rem
    max-width: 200rem
    box-sizing: border-box
    border: 1px solid #fff
    +media(768)
        min-width: 150rem
        max-width: 200rem

.next, .right
    position: relative

.pointer
    position: absolute
    top: 25%
    right: -5%
    animation: pointer 1s infinite alternate
    @keyframes pointer
        0%,100%
            transform: scale(1)
            box-shadow: none
        50%
            transform: scale(1.15)
            filter: drop-shadow(0 0 5px rgb(158, 156, 156))

.image-block
    flex-wrap: nowrap
    +media(768)
        height: 100%
    .image
        min-width: 100vw
        +media(425)
            transform: translateX(-60%)
            min-width: 45vw
        +media(768)
            transform: translate(0)
            min-width: 20vw

.count-price_block
    flex-wrap: wrap
    padding: 30rem 0 50rem
    justify-content: center
    +media(768)
        flex-wrap: nowrap
    p
        color: #FFF
        text-align: center
        font-family: "Kharkiv Tone"
        font-size: 24px
        font-weight: 400
        text-transform: uppercase

.count-price_block
    justify-content: space-around
    color: #FFF
    font-family: "Kharkiv Tone"
    font-size: 24px
    font-weight: 400
    text-transform: uppercase

.blue-text
    color: #4E98B6
    font-family: Montserrat
    font-size: 24px
    font-weight: 600

.full-price, .full-price-card
    display: inline-block
    padding-left: 10rem
    font-family: Montserrat
    font-weight: 300
    text-decoration: line-through

.size-block,
.color-block
    width: 100%
    +media(1024)
        width: 50%

.haracteristic-block
    padding: 50rem 0

.size,
.article,
.material,
.color,
.haracteristic-name,
.country,
.description
    padding-bottom: 20rem
    +media(768)
        padding-bottom: 40rem
    p, li
        color: #1E1E1E
        font-family: Montserrat
        font-size: 15px
        font-weight: 400
        +media(768)
            font-size: 20px
        +media(1440)
            font-size: 24px

p.haracteristic-name
    padding-bottom: 20rem
    font-family: "Kharkiv Tone"
    text-transform: uppercase

.input-size-block
    height: 22rem
    column-gap: 10rem
    +media(768)
        height: 40rem

.size-input,
.color-input
    display: none

.size-input + label,
.color-input + label
    display: inline-block
    position: relative
    width: 22rem
    height: 22rem
    padding: 1rem
    color: #1E1E1E
    font-size: 15rem
    font-family: Montserrat
    font-weight: 400
    text-transform: uppercase
    border: 1px solid #000
    box-sizing: border-box
    +media(768)
        width: 40rem
        font-size: 20rem
        height: 40rem
        padding: 8rem
.size-input:disabled + label
    color: #AAA
    border: 1px solid #AAA
.size-input:checked + label
    color: #4E98B6
    border: 1px solid #4E98B6

.color-input + label
    border: none

.material
    li
        position: relative
        padding-left: 30rem
        &::before
            content: ""
            position: absolute
            top: 20%
            left: 2.5%
            width: 4rem
            height: 4rem
            border-radius: 50%
            background-color: #000

.cta-submit
    justify-content: center
    button
        width: 90%
        max-width: 400rem
        padding: 30rem 50rem
        border: none
        cursor: pointer
        +media(768)
            padding: 30rem 120rem

.text-style
    padding-bottom: 20rem
    text-align: center
    color: #FFF
    font-family: "Kharkiv Tone"
    font-size: 14rem
    text-transform: uppercase
    font-weight: 400
    +media(768)
        font-size: 20rem
    +media(1440)
        font-size: 24rem

.instruction-size_block
    padding: 15rem 0
    column-gap: 13rem
    row-gap: 20rem
    +media(768)
        padding: 50rem 0

.size-img
    position: relative
    svg
        position: absolute
        top: 30rem
        left: 50%
        transform: translateX(-50%)
    &:last-child
        svg
            &:nth-child(2)
                left: 10%
            &:last-child
                left: 85%
                transform: translate(0)

.size-table
    margin: 0 auto
    width: 100%
    max-width: 850rem
    table
        width: 100%
        border-collapse: collapse
        thead
            th
                padding: 30rem 0
        tbody
            tr
                border-bottom: 1px solid #fff
                border-left: 1px solid #fff
                border-right: 1px solid #fff
                td
                    width: 10vw
                    padding: 10rem 0
                    color: #FFF
                    text-align: center
                    font-family: Montserrat
                    font-size: 15px
                    font-weight: 400
                    text-transform: uppercase
                    +media(768)
                        font-size: 25px
                        padding: 30rem 0
                    +media(1440)
                        font-size: 30px
                td + td 
                    border-left: 1px solid #fff
div.catalog-card
    column-gap: 30rem
    row-gap: 30rem
    flex-wrap: wrap
    +media(1200)
        flex-wrap: nowrap

.card
    +media(768)
        width: 45%
    +media(1200)
        width: 20vw

.img-card
    position: relative
    border: 1px solid #000
.flag
    position: absolute
    padding: 11rem 26rem
    top: 20rem
    right: -5.5rem
    color: #FFF
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 10px
    font-weight: 400
    text-transform: uppercase
    &::before
        content: ""
        position: absolute
        bottom: -4rem
        right: 1.5rem
        border: 4rem solid transparent
        transform: rotate(135deg)

.green-flag
    background: #24B40C
    &::before
        border-top-color: #0B5517

.purple-flag
    background: #641AC2
    &::before
        border-top-color: #1F093C

.darkgreen-flag
    background: #0B5517
    &::before
        border-top-color: #061509

.blue-flag
    background: #4E98B6
    &::before
        border-top-color: #25445E

.name-card
    padding: 30rem 0 20rem
    color: #000
    font-family: "Kharkiv Tone"
    text-align: left

div.size-card
    column-gap: 5rem
    padding: 20rem 0
    label
        font-size: 14rem
        width: 25rem
        height: 25rem
        padding: 3rem
        +media(1440)
            width: 40rem
            height: 40rem
            padding: 8rem
            font-size: 20rem
.price-card
    column-gap: 16rem

.sale-price
    font-size: 20px
    font-weight: 700
    +media(1440)
        font-size: 30px

.price
    color: #1E1E1E
    font-family: Montserrat
    font-size: 16rem
    font-weight: 250
    text-decoration: line-through
    +media(1440)
        font-size: 20rem

.cta-card
    display: block
    padding: 24rem 0
    font-size: 18rem

.cart
    width: 90%
    margin: 0 auto
    +media(1200)
        width: 50%

.cart-head
    padding-bottom: 20rem
    color: #4E98B6
    font-size: 15rem
    font-family: "Kharkiv Tone"
    font-weight: 400
    line-height: 1.5em
    text-transform: uppercase
    +media(768)
        font-size: 24rem

a.addtocart
    display: block
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 20px
    font-weight: 400
    text-transform: uppercase
    +media(768)
        font-size: 24px

.add-cta
    display: inline-block
    margin-left: 20rem
    padding: 5rem 8rem
    max-width: 30rem
    max-height: 30rem
    box-sizing: border-box
.input-flex
    +media(768)
        flex-wrap: nowrap
.name,
.phone
    width: 100%
    max-width: 450rem
    input
        padding: 10rem 0
        background-color: transparent
        border: none
        color: #FFF
        border-bottom: 1px solid #fff
        &::placeholder
            color: #FFF
            font-family: Montserrat
            font-size: 14px
            font-weight: 300
            line-height: 1.5em
            +media(768)
                font-size: 18px
.order
    padding: 30rem 0 42rem

.cart-order
    display: none
    position: relative
    padding: 60rem 30rem
    border: 1px solid #fff
    +media(768)
        flex-wrap: nowrap
        padding: 15rem 30rem

.cancel
    position: absolute
    top: 20rem
    right: 20rem
    z-index: 3

.order-descript
    justify-content: center
    flex-wrap: wrap
    column-gap: 20rem
    +media(768)
        justify-content: space-between
        flex-wrap: nowrap

.img-order
    min-width: 150rem
    min-height: 150rem
    width: 100%
    height: 100%
    background-color: #fff
    +media(768)
        max-width: 150rem

.model,
.size-order
    padding: 20rem 0 0
    +media(768)
        padding: 0

.model-order,
.size-order-text
    color: #4E98B6
    font-family: Montserrat
    font-size: 18px
    font-weight: 500
    line-height: 1.5em
    text-transform: uppercase

.size-order
    select
        position: relative
        z-index: 1
    label
        position: absolute
        &::before
            content: ""
            position: absolute
            top: 8px
            right: 0
            border: 10px solid transparent
            border-top-color: #4E98B6
            z-index: 0
    option
        color: #000
    &:selected
        color: #fff

p.model-order-name
    width: 170rem
    font-size: 14px
    font-weight: 400
    text-align: left
    +media(1440)
        font-size: 18rem

.size-order
    padding-bottom: 20rem
    +media(768)
        padding-bottom: 0
        max-width: 125rem
    select
        padding: 0 0 10rem
        color: #FFF
        font-family: Montserrat
        font-size: 18px
        font-weight: 300
        background-color: transparent
        border: none
        border-bottom: 1px solid #fff
        outline: none
        appearance: none
        -webkit-appearance: none

.sale-price
    width: 100rem

.order-price-sale
    width: 80rem
    color: #fff

.sum-flex
    padding-bottom: 26rem
    flex-wrap: nowrap
    justify-content: space-between

.without-sale,
.with-sale
    font-size: 12rem
    padding: 0

.sum,
.sale-sum,
.pay-price,
.pay-sum
    color: #FFF
    font-family: Montserrat
    font-size: 15rem
    font-weight: 400
    line-height: 1.5em
    +media(768)
        font-size: 24rem

.pay-sum
    color: #4E98B6
    font-family: "Kharkiv Tone"
    text-transform: uppercase

.pay-price
    font-size: 30px

.cart-hr
    margin: 0 0 23rem

.cta-cart
    padding-top: 50rem

.about-us
    p
        color: #1E1E1E
        font-size: 12rem
        +media(768)
            font-size: 24px

.about-us-block
    column-gap: 20rem
    align-items: flex-start
    flex-wrap: nowrap
    margin-bottom: 17rem
    +media(768)
        align-items: center

.description-aboutUs
    width: 80%
    p
        text-transform: uppercase
        font-weight: 400
        &:first-child
            margin-bottom: 20rem
            font-family: "Kharkiv Tone"
        &:last-child
            font-family: Montserrat
            text-transform: lowercase
.svg-block
    position: relative
    width: 70rem
    height: 60rem
    +media(768)
        width: 150rem
        height: 150rem
    &::before
        width: 30rem
        height: 30rem
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.quality
    .svg-block
        &::before
            background: url(../img/quality.png) no-repeat center/cover
            +media(768)
                width: 70rem
                height: 70rem
.delivery
    .svg-block
        &::before
            background: url(../img/delivery.png) no-repeat center/cover
            +media(768)
                width: 54rem
                height: 54rem
.pay-method
    .svg-block
        &::before
            background: url(../img/paument.png) no-repeat center/cover
            +media(768)
                width: 60rem
                height: 56rem
.sale-proposition
    .svg-block
        &::before
            background: url(../img/sale.png) no-repeat center/cover
            +media(768)
                width: 64rem
                height: 64rem

.sale-descript
    padding-bottom: 50rem
    font-size: 14px
    line-height: 1.5em
    +media(768)
        font-size: 24px

.sale-block
    +media(1024)
        width: 60%
        margin: 0 auto
    div
        justify-content: space-between
    p
        font-family: Montserrat
        font-size: 11px
        font-weight: 600
        line-height: 1.5em
        text-transform: uppercase
        +media(768)
            font-size: 24px
    hr
        margin: 20rem 0 30rem

p.sale-numb
    text-transform: lowercase
    font-weight: 400

.cta-sale
    position: relative
    top: 0
    left: 50%
    max-width: 400px
    transform: translateX(-50%)

.comment-slider
    overflow: hidden

.comment-block
    height: 500rem

.comment-card
    height: 500rem
    padding: 30rem 20rem
    color: #1E1E1E
    background-color: #fff
    font-family: Montserrat
    border: 1px solid #000
    box-sizing: border-box
    // transform: translateX(calc(-100% - 30rem))
    // +media(768)
    //     min-width: 38vw
    // +media(1200)
    //     min-width: 24.5vw
    // +media(1440)
    //     // transform: translateX(0)
        // min-width: 18.4vw

.name-comment
    margin-bottom: 10rem
    h3
        line-height: 1.5em
        font-size: 16px
        font-weight: 600
        text-transform: uppercase
.star-comment
    padding-bottom: 18rem

.date-comment
    font-style: italic
    font-size: 14px
    line-height: 1.5em
    font-weight: 300

.text-comment-block
    padding-bottom: 20rem
    line-height: 1.5em
    font-size: 14px
    font-weight: 400

.button-block
    padding-top: 30rem
    justify-content: center
    .btn
        transition: all .25s ease
        border: 1px solid #4E98B6
        svg > path
            fill: #4E98B6
        &:hover
            background-color: #4E98B6
        &:hover
            svg > path
                fill: #fff

.footer
    padding: 63rem 0 57rem
    a
        column-gap: 10rem
    a, span, p
        color: #FFF
        font-family: Montserrat
        font-size: 12px
        font-weight: 400

.adress-block
    div
        column-gap: 10rem

.privacy
    padding-top: 30rem
    text-align: center
    a
        text-decoration: underline

.footer-bottom
    padding-top: 16rem
    text-align: center
    span
        display: inline-block
