@import components/mixins
// оформити політику конфід
html
    font-size: 1px
    scroll-behavior: smooth
body
    margin: 0
    box-sizing: border-box

a
    text-decoration: none

ul
    padding: 0
    list-style: none

h2, h3, p, ul, hr
    margin: 0

input, select
    width: 100%
    box-sizing: border-box
    outline: none

img
    width: 100%
    height: 100%
    object-fit: contain

section
    padding: 50rem 0

.toast
    transition: all 1s ease
    position: fixed
    top: 0
    right: 0
    padding: 30rem 50rem
    font-family: "Kharkiv Tone"
    background-color: #4E98B6
    font-size: 15rem
    color: #fff
    opacity: 1

.wrapper
    max-width: 80%
    margin: 0 auto

header
    padding-top: 140rem

.header
    transition: all 1s ease
    position: fixed
    width: 100%
    background-color: rgba(255, 255, 255, 0.7)
    top: 0
    left: 0
    backdrop-filter: blur(4rem)
    z-index: 10

.flex
    display: flex
    column-gap: 30rem

.flex-between
    display: flex
    justify-content: center
    flex-wrap: wrap
    column-gap: 50rem
    +media(768)
        justify-content: space-between
    +media(1024)
        flex-wrap: nowrap

.items-center
    align-items: center

.gradient
    transition: all .5s ease
    background: linear-gradient(90deg, #4E98B6 0%, #00D589 50%, #4E98B6 100%)
    background-size: 200% 100%
    &:hover
        background-position: 100% 0
.logo 
    svg
        width: 80rem
        height: 80rem
        +media(1024)
            width: 100rem
            height: 100rem

.social
    svg > path
        transition: all .5s ease
        fill: #4E98B6
    &:hover
        svg > path 
            fill: #00D589

.header-menu
    width: 100%
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 10rem
    +media(768)
        position: static
        width: auto
        transform: translate(0)
.menu
    display: flex
    column-gap: 20rem
    +media(1024)
        column-gap: 50rem
    a
        transition: all .25s ease
        display: inline-block
        color: #000
        font-size: 10rem
        text-align: center
        font-family: "Kharkiv Tone"
        font-weight: 400
        text-transform: uppercase
        +media(768)
            font-size: 14rem
        +media(1024)
            font-size: 18rem
        &:hover
            transform: scale(1.05)
            color: #4E98B6

.header
    padding: 15rem 0 35rem
    justify-content: space-between
    +media(768)
        padding: 25rem 0

.dark-bg
    background: #000

.head
    padding-bottom: 20rem
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 22px
    font-weight: 400
    text-transform: uppercase
    +media(768)
        font-size: 25px
        padding-bottom: 40rem
    +media(1440)
        font-size: 54px
    +media(1920)
        font-size: 64px

.white-head
    color: #FFF

.dark-head
    color: #000
    text-align: center

.black-kharkiv
    padding-bottom: 40rem
    color: #1E1E1E
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 15rem
    font-weight: 400
    line-height: 1.5em
    text-transform: uppercase
    +media(768)
        font-size: 24px

.card-section
    height: 100%
    overflow: hidden
    padding-top: 10rem

.slider-card
    display: none

.active
    display: block

.card_block
    width: 100vw
    overflow: hidden

.main-card_block
    position: relative
    column-gap: 0

.name-block
    padding-top: 50rem
    h2
        text-align: left
        width: 50%
        padding: 18rem 0
        +media(768)
            padding: 38rem 0
    hr
        margin-bottom: 34rem
        border: none
        border: 2px solid #fff

.button
    position: absolute
    top: -15rem
    left: 50%
    transform: translateX(-50%)
    padding: 30rem 0
    flex-wrap: nowrap
    +media(768)
        position: static
        transform: translate(0)

.button-card,
.button
    column-gap: 30rem

.number-card
    display: flex
    font-family: Montserrat
    font-size: 24rem

.number
    color: #4E98B6
    font-weight: 500

.number-of
    display: inline
    color: #FFF
    font-weight: 300

.prev, .next
    transition: all .25s ease
    svg > path 
        fill: #fff
    &:hover
        border: 1px solid #4E98B6
        background-color: #4E98B6
    &:hover
        svg > path
            fill: #fff

.prev, .next, .left, .right
    display: block
    min-width: 100rem
    max-width: 200rem
    box-sizing: border-box
    border: 1px solid #fff
    cursor: pointer
    +media(1024)
        min-width: 150rem

.next
    position: relative

.pointer
    position: absolute
    bottom: 15%
    right: -5%
    animation: pointer 1s infinite alternate
    @keyframes pointer
        0%,100%
            transform: scale(1)
            box-shadow: none
        50%
            transform: scale(1.15)
            filter: drop-shadow(0 0 5px rgb(158, 156, 156))

.image-block
    flex-wrap: nowrap
    +media(768)
        height: 100%
    .image
        min-width: 100vw
        +media(425)
            transform: translateX(-60%)
            min-width: 45vw
        +media(768)
            transform: translate(0)
            min-width: 20vw

.count-price_block
    flex-wrap: wrap
    padding: 30rem 0 50rem
    justify-content: center
    +media(768)
        flex-wrap: nowrap
    p
        color: #FFF
        text-align: center
        font-family: "Kharkiv Tone"
        font-size: 24px
        font-weight: 400
        text-transform: uppercase

.count-price_block
    justify-content: space-around
    color: #FFF
    font-family: "Kharkiv Tone"
    font-size: 24px
    font-weight: 400
    text-transform: uppercase

.blue-text
    color: #4E98B6
    font-family: Montserrat
    font-size: 24px
    font-weight: 600

.full-price, .full-price-card
    display: inline-block
    padding-left: 10rem
    font-family: Montserrat
    font-weight: 300
    text-decoration: line-through

.size-block,
.color-block
    width: 100%
    +media(1024)
        width: 50%

.haracteristic-block
    padding: 50rem 0

.size, .article, .material, .color, .haracteristic-name, .country, .description
    padding-bottom: 20rem
    +media(768)
        padding-bottom: 40rem
    p, li
        color: #1E1E1E
        font-family: Montserrat
        font-size: 15px
        font-weight: 400
        +media(768)
            font-size: 20px
        +media(1440)
            font-size: 24px

p.haracteristic-name
    padding-bottom: 20rem
    font-family: "Kharkiv Tone"
    text-transform: uppercase

.input-size-block
    height: 22rem
    column-gap: 10rem
    +media(768)
        height: 40rem

.size-input,
.color-input
    display: none

.size-input + label,
.color-input + label
    display: inline-block
    position: relative
    width: 22rem
    height: 22rem
    padding: 1rem
    color: #1E1E1E
    font-size: 15rem
    font-family: Montserrat
    font-weight: 400
    text-transform: uppercase
    border: 1px solid #000
    box-sizing: border-box
    +media(768)
        width: 40rem
        font-size: 20rem
        height: 40rem
        padding: 8rem
.size-input:disabled + label
    color: #AAA
    border: 1px solid #AAA
.size-input:checked + label
    color: #4E98B6
    border: 1px solid #4E98B6

.color-input + label
    border: none

.material
    li
        position: relative
        padding-left: 30rem
        &::before
            content: ""
            position: absolute
            top: 20%
            left: 2.5%
            width: 4rem
            height: 4rem
            border-radius: 50%
            background-color: #000

.cta-submit
    justify-content: center
    a, button
        display: block
        width: 90%
        max-width: 400rem
        padding: 30rem 0
        border: none
        cursor: pointer
        box-sizing: border-box
        +media(768)
            padding: 30rem 120rem

.text-style
    padding-bottom: 20rem
    text-align: center
    color: #FFF
    font-family: "Kharkiv Tone"
    font-size: 14rem
    text-transform: uppercase
    font-weight: 400
    +media(768)
        font-size: 20rem
    +media(1440)
        font-size: 24rem

.instruction-size_block
    padding: 15rem 0
    column-gap: 13rem
    row-gap: 20rem
    +media(768)
        padding: 50rem 0

.size-img
    position: relative
    svg
        position: absolute
        top: 30rem
        left: 50%
        transform: translateX(-50%)
    &:last-child
        svg
            &:nth-child(2)
                left: 10%
            &:last-child
                left: 85%
                transform: translate(0)

.size-table
    margin: 0 auto
    width: 100%
    max-width: 850rem
    table
        width: 100%
        border-collapse: collapse
        thead
            th
                padding: 30rem 0
        tbody
            tr
                border-bottom: 1px solid #fff
                border-left: 1px solid #fff
                border-right: 1px solid #fff
                td
                    width: 10vw
                    padding: 10rem 0
                    color: #FFF
                    text-align: center
                    font-family: Montserrat
                    font-size: 15px
                    font-weight: 400
                    text-transform: uppercase
                    +media(768)
                        font-size: 25px
                        padding: 30rem 0
                    +media(1440)
                        font-size: 30px
                td + td 
                    border-left: 1px solid #fff
div.catalog-card
    display: grid
    column-gap: 30rem
    row-gap: 30rem
    grid-template-columns: 1fr
    +media(768)
        grid-template-columns: 1fr 1fr
    +media(1024)
        grid-template-columns: 1fr 1fr 1fr 1fr

.card
    width: 100%

.img-card
    position: relative
    border: 1px solid #000

.hover-img
    display: inline-block
    height: 290rem
    min-width: 255rem

.flag
    position: absolute
    padding: 11rem 26rem
    top: 20rem
    right: -5.5rem
    color: #FFF
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 10px
    font-weight: 400
    text-transform: uppercase
    &::before
        content: ""
        position: absolute
        bottom: -4rem
        right: 1.5rem
        border: 4rem solid transparent
        transform: rotate(135deg)

.green-flag
    background: #24B40C
    &::before
        border-top-color: #0B5517

.purple-flag
    background: #641AC2
    &::before
        border-top-color: #1F093C

.darkgreen-flag
    background: #0B5517
    &::before
        border-top-color: #061509

.blue-flag
    background: #4E98B6
    &::before
        border-top-color: #25445E

.name-card
    padding: 30rem 0 20rem
    color: #000
    font-family: "Kharkiv Tone"
    text-align: left

div.size-card
    column-gap: 5rem
    padding: 20rem 0
    label
        font-size: 14rem
        width: 25rem
        height: 25rem
        padding: 3rem
        +media(1440)
            width: 40rem
            height: 40rem
            padding: 8rem
            font-size: 20rem
.price-card
    column-gap: 16rem
    .price
        margin-left: 20rem

.sale-price
    font-size: 20px
    font-weight: 700
    +media(1440)
        font-size: 30px

.price
    color: #1E1E1E
    font-family: Montserrat
    font-size: 16rem
    font-weight: 250
    text-decoration: line-through
    +media(1440)
        font-size: 20rem

.cta-card
    display: block
    padding: 24rem 0
    font-size: 18rem

.cart
    width: 90%
    margin: 0 auto
    +media(1200)
        width: 50%

.cart-head
    padding-bottom: 20rem
    color: #4E98B6
    font-size: 15rem
    font-family: "Kharkiv Tone"
    font-weight: 400
    line-height: 1.5em
    text-transform: uppercase
    +media(768)
        font-size: 24rem

a.addtocart
    display: block
    text-align: center
    font-family: "Kharkiv Tone"
    font-size: 20px
    font-weight: 400
    text-transform: uppercase
    +media(768)
        font-size: 24px

.add-cta
    display: inline-block
    margin-left: 20rem
    padding: 5rem 8rem
    max-width: 30rem
    max-height: 30rem
    box-sizing: border-box
.input-flex
    +media(768)
        flex-wrap: nowrap
.name,
.phone
    width: 100%
    max-width: 450rem
    input
        padding: 10rem 0
        background-color: transparent
        border: none
        color: #FFF
        border-bottom: 1px solid #fff
        &::placeholder
            color: #FFF
            font-family: Montserrat
            font-size: 14px
            font-weight: 300
            line-height: 1.5em
            +media(768)
                font-size: 18px
.order
    padding: 30rem 0 42rem

.cart-order
    display: none
    position: relative
    padding: 60rem 30rem
    border: 1px solid #fff
    +media(768)
        flex-wrap: nowrap
        padding: 15rem 30rem

.cancel
    position: absolute
    top: 20rem
    right: 20rem
    z-index: 3

.order-descript
    justify-content: center
    flex-wrap: wrap
    column-gap: 20rem
    +media(768)
        justify-content: space-between
        flex-wrap: nowrap

.img-order
    min-width: 150rem
    min-height: 150rem
    width: 100%
    height: 100%
    background-color: #fff
    +media(768)
        max-width: 150rem

.model,
.size-order
    padding: 20rem 0 0
    +media(768)
        padding: 0

.model-order,
.size-order-text
    color: #4E98B6
    font-family: Montserrat
    font-size: 18px
    font-weight: 500
    line-height: 1.5em
    text-transform: uppercase

.size-order
    select
        position: relative
        z-index: 1

.size-block-label
    position: absolute
    width: 100rem
    &::before
        content: ""
        position: absolute
        top: 25px
        right: -80rem
        border: 8px solid transparent
        border-top-color: #4E98B6
        z-index: 0
        +media(768)
            top: 8px
    option
        color: #000
    &:selected
        color: #fff

p.model-order-name
    width: 170rem
    font-size: 14px
    font-weight: 400
    text-align: left
    +media(1440)
        font-size: 18rem

.size-order
    padding-bottom: 20rem
    +media(768)
        padding-bottom: 0
        // max-width: 125rem
    select
        padding: 0 20rem 10rem 0
        color: #FFF
        font-family: Montserrat
        font-size: 16px
        font-weight: 300
        background-color: transparent
        border: none
        border-bottom: 1px solid #fff
        outline: none
        appearance: none
        -webkit-appearance: none
        option
            color: #000

.sale-price
    width: 100rem

.order-price-sale
    width: 80rem
    color: #fff
    +media(768)
        width: 100rem

.sum-flex
    padding-bottom: 26rem
    flex-wrap: nowrap
    justify-content: space-between

.without-sale,
.with-sale
    font-size: 12rem
    padding: 0
.sum-order,
.order-sum
    display: none

.order-sum
    margin-bottom: 30rem

.sum,
.sale-sum,
.pay-price,
.pay-sum
    color: #FFF
    font-family: Montserrat
    font-size: 15rem
    font-weight: 400
    line-height: 1.5em
    +media(768)
        font-size: 24rem

.pay-sum
    color: #4E98B6
    font-family: "Kharkiv Tone"
    text-transform: uppercase

.pay-price
    font-size: 30px

.cart-hr
    margin: 0 0 23rem

.cta-cart
    padding-top: 50rem

.about-us
    p
        color: #1E1E1E
        font-size: 12rem
        +media(768)
            font-size: 24px

.about-us-block
    column-gap: 20rem
    align-items: flex-start
    flex-wrap: nowrap
    margin-bottom: 17rem
    +media(768)
        align-items: center

.description-aboutUs
    width: 80%
    p
        text-transform: uppercase
        font-weight: 400
        &:first-child
            margin-bottom: 20rem
            font-family: "Kharkiv Tone"
        &:last-child
            font-family: Montserrat
            text-transform: lowercase
.svg-block
    position: relative
    width: 70rem
    height: 60rem
    +media(768)
        width: 150rem
        height: 150rem
    &::before
        width: 50%
        height: 50%
        content: ""
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.quality
    .svg-block
        &::before
            background: url(../img/quality.svg) no-repeat center/contain
            +media(768)
                width: 54rem
                height: 54rem
.delivery
    .svg-block
        &::before
            background: url(../img/delivery.svg) no-repeat center/contain
            +media(768)
                width: 50rem
                height: 39rem
.pay-method
    .svg-block
        &::before
            background: url(../img/paument.svg) no-repeat center/contain
            +media(768)
                width: 50rem
                height: 40rem
.sale-proposition
    .svg-block
        &::before
            background: url(../img/sale.svg) no-repeat center/contain
            +media(768)
                width: 50rem
                height: 53rem

.sale-descript
    padding-bottom: 50rem
    font-size: 14px
    line-height: 1.5em
    +media(768)
        font-size: 24px

.sale-block
    +media(1024)
        width: 60%
        margin: 0 auto
    div
        justify-content: space-between
    p
        font-family: Montserrat
        font-size: 11px
        font-weight: 600
        line-height: 1.5em
        text-transform: uppercase
        +media(768)
            font-size: 24px
    hr
        margin: 20rem 0 30rem

p.sale-numb
    text-transform: lowercase
    font-weight: 400

.cta-sale
    position: relative
    top: 0
    left: 50%
    max-width: 400px
    transform: translateX(-50%)

.comment-slider
    overflow: hidden

.comment-block
    padding-bottom: 80rem

.comment-card
    height: 450rem
    padding: 30rem 20rem
    color: #1E1E1E
    background-color: #fff
    font-family: Montserrat
    border: 1px solid #000
    box-sizing: border-box

.img-comment 
    max-width: 300rem
    height: 150rem
    overflow: hidden
    img
        object-fit: cover

.name-comment
    margin-bottom: 10rem
    h3
        line-height: 1.5em
        font-size: 16px
        font-weight: 600
        text-transform: uppercase

.star-comment
    padding-bottom: 18rem
    svg 
        > path
            fill: #eac83e

.date-comment
    font-style: italic
    font-size: 14px
    line-height: 1.5em
    font-weight: 300

.text-comment-block
    padding-bottom: 20rem
    line-height: 1.5em
    font-size: 14px
    font-weight: 400

.text-comment
    min-height: 145rem

.left.slider_navigation,
.right.slider_navigation
    position: absolute
    bottom: 0rem
    display: block
    padding: 20rem 10rem
    transition: all .25s ease
    border: 1px solid #4E98B6
    box-sizing: border-box
    z-index: 4

.left.slider_navigation
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 200 40' fill='none'%3E%3Cpath d='M49.6464 19.6464C49.4512 19.8417 49.4512 20.1583 49.6464 20.3535L52.8284 23.5355C53.0237 23.7308 53.3403 23.7308 53.5355 23.5355C53.7308 23.3403 53.7308 23.0237 53.5355 22.8284L50.7071 20L53.5355 17.1716C53.7308 16.9763 53.7308 16.6597 53.5355 16.4645C53.3403 16.2692 53.0237 16.2692 52.8284 16.4645L49.6464 19.6464ZM150 19.5L50 19.5L50 20.5L150 20.5L150 19.5Z' fill='%234E98B6'/%3E%3C/svg%3E") center/cover
    right: 55%
    cursor: pointer
    background-size: 150%
    &:hover
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 200 40' fill='none'%3E%3Cpath d='M49.6464 19.6464C49.4512 19.8417 49.4512 20.1583 49.6464 20.3535L52.8284 23.5355C53.0237 23.7308 53.3403 23.7308 53.5355 23.5355C53.7308 23.3403 53.7308 23.0237 53.5355 22.8284L50.7071 20L53.5355 17.1716C53.7308 16.9763 53.7308 16.6597 53.5355 16.4645C53.3403 16.2692 53.0237 16.2692 52.8284 16.4645L49.6464 19.6464ZM150 19.5L50 19.5L50 20.5L150 20.5L150 19.5Z' fill='%23ffffff'/%3E%3C/svg%3E") center/cover
        background-size: 150%
        background-color: #4E98B6

.right.slider_navigation
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 200 40' fill='none'%3E%3Cpath d='M150.354 19.6464C150.549 19.8417 150.549 20.1583 150.354 20.3535L147.172 23.5355C146.976 23.7308 146.66 23.7308 146.464 23.5355C146.269 23.3403 146.269 23.0237 146.464 22.8284L149.293 20L146.464 17.1716C146.269 16.9763 146.269 16.6597 146.464 16.4645C146.66 16.2692 146.976 16.2692 147.172 16.4645L150.354 19.6464ZM50 19.5L150 19.5L150 20.5L50 20.5L50 19.5Z' fill='%234E98B6'/%3E%3C/svg%3E") center/cover
    background-size: 150%
    cursor: pointer
    left: 55%
    &:hover
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='40' viewBox='0 0 200 40' fill='none'%3E%3Cpath d='M150.354 19.6464C150.549 19.8417 150.549 20.1583 150.354 20.3535L147.172 23.5355C146.976 23.7308 146.66 23.7308 146.464 23.5355C146.269 23.3403 146.269 23.0237 146.464 22.8284L149.293 20L146.464 17.1716C146.269 16.9763 146.269 16.6597 146.464 16.4645C146.66 16.2692 146.976 16.2692 147.172 16.4645L150.354 19.6464ZM50 19.5L150 19.5L150 20.5L50 20.5L50 19.5Z' fill='%23ffffff'/%3E%3C/svg%3E") center/cover
        background-size: 150%
        background-color: #4E98B6

.footer
    padding: 63rem 0 57rem
    a
        column-gap: 10rem
    a, span, p
        color: #FFF
        font-family: Montserrat
        font-size: 12px
        font-weight: 400

.adress-block
    div
        column-gap: 10rem

.privacy
    padding-top: 30rem
    text-align: center
    a
        text-decoration: underline

.popups-outline
    display: none
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background-color: #fff
    font-size: 14rem
    z-index: 9
    overflow-y: scroll
    &::-webkit-scrollbar
        width: 2px
        background: #A0A0A0
    &::-webkit-scrollbar-thumb
        width: 4px
        background: linear-gradient(90deg, #00D589 0%, #4E98B6 100%)

.popup-h2
    color: #fff
    font-family: "Kharkiv Tone"

.popup-h2,
.popups-outline h3,
.info-popup p, .info-popup ul
    padding: 20rem 0 10rem
    text-align: center
    font-family: Montserrat
    font-size: 34px
    font-weight: 400
    text-transform: uppercase

.popups-outline
    h3
        padding: 10rem 0
        color: #1E1E1E
        font-size: 20rem
        text-align: left
.info-popup 
    padding: 30rem 0
    p, ul
        padding: 10rem 0
        color: #1E1E1E
        font-size: 14rem
        text-align: left
    ul
        padding: 0
        font-size: 12rem 
        text-transform: none

.popup-footer 
    width: 100%
    padding: 20rem 0
    a
        display: block
        color: #fff
        font-size: 20rem


.footer-bottom
    padding-top: 16rem
    text-align: center
    span
        display: inline-block

.bg-order-popup 
    width: 100vw
    height: 100vh

.to-main
    position: absolute
    width: 100vw
    height: 100vh

.orders-successful
    font-family: Montserrat
    position: absolute
    width: 90%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    background-color: #fff
    padding: 100rem 20rem
    p
        color: #191919
        font-size: 18rem
        font-weight: 500
        line-height: 24rem
        margin-bottom: 30rem
    .btn-style-one
        display: inline-block
        padding: 20rem 50rem
        font-size: 18rem
        color: #fff
        margin: auto
        text-transform: uppercase
    h2
        font-size: 38rem
        padding-top: 0
        margin-bottom: 30rem
        +media(425)
            font-size: 48rem
    img
        max-width: 50rem
        max-height: 50rem
        margin-bottom: 20rem